
.product-collection {
  display: flex;

  &__filters {
      border-right: 1px solid grey;
      padding-right: 2rem;
      min-width: 200px;
  }

  &__results {
      padding-left: 2rem;
      flex-grow: 1;
  }
}
