.pagination-page {
    border: 0;
    margin: 0 0.2rem;
    padding: 1rem;
    font-weight: bold;
    border: 1px solid currentColor;

    &:hover{
        cursor: pointer;
        background: rgb(224, 110, 110);
    }

    &--active {
        background: rgb(248, 152, 152);
    }
}