.product-item {
  background: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: flex-start;

  &__image {
    img {
      width: 80px;
      height: 80px;
    }
  }

  &__details {
    padding: 0 1rem;
  }

  &__title {
    margin-top: 0.5rem;
  }

  &__tag {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.2rem;
    background: black;
    color: white;
  }
}
