@import 'styles/variables'; 

body {
  background: $page-bg;
  font-family: Arial;
  font-size: 15px;
  color: $body-text;
}

.page {
  padding: 1rem;

  &__content {
    background: $page-content-bg;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(163, 163, 163, 0.1);
  }
}
